<br>
<body class="contactpage">
	<div class="contactbox">
  	<div class="contactheader">
  		For booking inquiries, please send an email to phirojmusic@gmail.com
  		<br><br><a class="logos" href="mailto:phirojmusic@gmail.com" target="_blank">
		  	<img class="mailto" src="assets/mail.png">
		  </a>
    </div>

    

	</div>

	
</body>
