<br>
<div id="music">
    <h1 class='navname'>Shyangden Phiroj</h1>
        <div id='about'>
<!--             <h1 class='about_title'>About</h1> -->
            <div id='connect'>
                <p id='bio'>Based in Queens, New York, Shyangden Phiroj is a world-renown guitarist. A founding member of one of Nepal's most famous rock bands, 1974 AD, his playing style implements various genres, including Nepali folk, ragas, rock, funk, blues and jazz. </p>
            </div>
        </div>

        <h1 class='music_title'>Music</h1>
            <ul class="list-unstyled">
                <li><iframe width="500px" height="100px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214137704&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></a></li>
                <br>
                <li><iframe width="500px" height="100px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198769237&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></li>
                <br>
                <li><iframe width="500px" height="100px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200450413&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></li>
            </ul>


        <div id='contact'>
            <h1 class='contact_title'>Social</h1>
<!--                 <div id='connect'>
                    <p id='email'>For booking inquiries, please connect via the links below: </p>
                </div> -->
                    <div class='social'>

                      <span>  <a href="https://soundcloud.com/shyangden-phiroj" target="_blank"><img class='slinks' src="assets/sc2.png"></a>
                        <a href="https://www.facebook.com/pages/Phiroj-Shyangden/281762140542" target="_blank"><img class='slinks' src="assets/fb2.png"></a>
                        <a href="https://www.linkedin.com/pub/phiroj-shyangden/7a/948/186" target="_blank"><img class='slinks' src="assets/li2.png"></a>
                        <a href="https://www.youtube.com/channel/UCrHstpw9XwH9uydjNpl8d9g" target="_blank"><img class='slinks' src="assets/yt2.png"></a>
                        <a href="mailto:phirojmusic@gmail.com" target="_blank">
                        <img class="slinks" src="assets/mail.png"></a></span>
                    </div>
                </div>
        </div>