// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postpage {
	background: url(bd.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.postbody{
	background-color: rgba(0, 0, 0, 0.3);
	padding: 2%;
	width: 50%;
	margin: 0 auto;
	border: 2px solid #E5C454;
	margin-top: 150px;
}

.btn, {
	margin-left: 180px;
}
a.test {
    margin-left: 90%;
    color: #cd6839;
}

.posttitle{
	font-size: 30px;
	color:#E5C454;
	font-family: 'Poiret One', sans-serif;
	text-align: center;
	padding: 25px 0 25px 0;
}

.whitespace{
	border-top: 1px black solid;
}

.message {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif !important;
	font-size: 1.5em;
	color: #fff;
}
 
.delete-btttn, .edit-btttn{
font-size: 20px;
margin-top: 10px;
font-family: times;
margin-left: 10px;
color: grey;
}

.newpostform {
	margin-top: 150px;
}

@media all and (max-width: 400px)  {
	p{
		padding: 8px;

	}

}

